@CHARSET "UTF-8";

.vis-item {
	height: 16px;
	font-size: 8pt;
	
	border-color: #ccc;
	background-image: linear-gradient(to bottom,#f2f2f2 0,#e0e0e0 100%);
}

.vis-timeline {
	border: 2px solid #bfbfbf;
}

.vis-item.critical {
	background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
	border-color: #b92c28;
	color: white;
	font-family: monospace;
}

.vis-item.vis-background.filtered {
	background-color: rgba(94, 142, 156, 0.1);
	background-image: unset;
}

.vis-item.vis-background.filtered-important {
	background-color: rgba(42, 171, 210, 0.5);
	background-image: unset;
}

.vis-item.important {
	
	border-color: #3277b3;
	background-image: linear-gradient(to bottom,#3884c7 0,#337ab7 100%);
	color: white;
	font-family: monospace;
}

.vis-item.warning {
	background-image: linear-gradient(to bottom,#f0ad4e 0,#eb9316 100%);
	border-color: #e38d13;
	font-family: monospace;
}

.vis-item.experimental {
	color: white;
	background-color: #5bc0de;
	border-color: #2aabd2;
	font-family: monospace;
	box-shadow: 0 0 10px gray;
}

/* gray background in weekends, white text color */
.vis-time-axis .vis-grid.vis-saturday, .vis-time-axis .vis-grid.vis-sunday
	{
	background: rgba(244, 244, 244, .4);
}

.vis-time-axis .vis-grid.vis-h0-h4, .vis-time-axis .vis-grid.vis-h4-h8 {
	background: rgba(244, 244, 244, .4);
}

.vis-time-axis .vis-grid.vis-h0, .vis-time-axis .vis-grid.vis-h1,
	.vis-time-axis .vis-grid.vis-h2, .vis-time-axis .vis-grid.vis-h3,
	.vis-time-axis .vis-grid.vis-h4, .vis-time-axis .vis-grid.vis-h5,
	.vis-time-axis .vis-grid.vis-h6, .vis-time-axis .vis-grid.vis-h7 {
	background: rgba(244, 244, 244, .4);
}

/* The max width is dependant on the container (more info below) */
.popover {
	max-width: 350px;
	/* Max Width of the popover (depending on the container!) */
}

.vis-labelset .vis-inner {
	width: 8em;
}

.vis-left .vis-content {
	width: 8em;
}

.vis-right .vis-content {
	width: 8em;
}

.vis-panel.vis-background.vis-horizontal .vis-grid {
	left: 7.5em !important;
	right: 7.5em !important;
	width: auto !important;
}